.search-posts {
  position: relative;
  // margin-bottom: 2rem;
  
  &__input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    filter: drop-shadow(3px 3px 3px #ccc);

    input {
      width: 50%;
      margin-bottom: 0;
      padding: 1rem;
      transform-origin: right center;
      background-color: #f7f7f7;
      border: none;
      border-radius: 100px;
      border: 1px solid transparent;
      transition: all 700ms;

      @media (max-width: 800px) {
        width: 100%;    
      }
    }

    input:focus {
      width: 100%;
      border: 1px solid #ccc;
    }

    input::placeholder {
      font-size: 1.3rem;
      color: #ccc;

      @media (max-width: 430px) {
        font-size: 1.1rem;   
      }
    }
    
    i {
      position: absolute;
      right: 0;
      margin-right: 2rem;
      font-size: 1.6rem;

      &::before {
        color: #ccc;
      }
    }
  }

  &__clear-search {
    display: none;
    position: absolute;
    right: 5rem;
    padding: 0.5rem;
    transform-origin: right center;
    text-align: center;
    color: #777777;
    border-radius: 5px;
    background-color: #e7e7e7;
    transition: all 700ms;
    cursor: pointer;
  }
  
  &__clear-search--show {
    display: block;
  }
}