.search-posts {
  position: relative;
  // margin-bottom: 2rem;

  &__form {
    // background-color: yellow;
  }

  &__input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    input {
      width: 50%;
      margin-bottom: 0;
      transform-origin: right center;
      transition: all 700ms;
    }

    input:focus {
      width: 100%;
    }

    input::placeholder {
      color: #ccc;
    }
    
    i {
      position: absolute;
      right: 0;
      margin-right: 3rem;
      font-size: 1.6rem;

      &::before {
        color: #ccc;
      }
    }
  }

  &__clear-search {
    display: none;
    position: absolute;
    right: 5rem;
    padding: 0.5rem;
    transform-origin: right center;
    text-align: center;
    color: #777777;
    border-radius: 5px;
    background-color: #e7e7e7;
    transition: all 700ms;
    cursor: pointer;
  }
  
  &__clear-search--show {
    display: block;
  }
}