.create-post-page {
  h2 {
    margin-top: 0;
  }

  &__header {

  }

  &__data {
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  &__title-input {
    margin-bottom: 2rem;
    border-bottom: none;
    outline: none;

    input[type="text"] {
      margin-bottom: 2rem;
    }
  }

  // Categorías de los posts
  &__post-category {
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }

    .post-categories {
      display: flex;

      label {
        display: block;
        padding: 0.5rem 1rem;
        background-color: #ccc;
        border-radius: 5px;
        cursor: pointer;
      }
    }
     
    .post-category {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 0.5rem;
    }

    input[type="radio"] {
      display: none;
    }

    &--science {

    }

    &--technology {

    }

    &--development {

    }

    &--other {

    }
  }
}