.signin-form-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 2rem;
}

.signin-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;

  box-shadow: 0 5px 15px #ccc;
  border-radius: 10px;

  form {
    // margin-bottom: 2rem;

    h2 {
      margin-top: 0;
      font-size: 1.8rem;
      text-align: center;
      text-transform: uppercase;
    }

    input {
      border: none;
      margin-bottom: 2rem;

      &:focus {
        border-bottom: 1px solid #4791f1;
      }
    }
  }

  button {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: #fff;
    border-radius: 5px;
    background-color: #4791f1;
    border: none;
    transition: all 350ms;

    &:hover {
      background-color: rgb(60, 117, 192);
    }
  }

  &__google {
    p {
      margin: 0 auto;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;
    }
  
    span {
      i {
        font-size: 1.5rem;
        margin-right: 10px;
  
        &:before {
          color: #fff;
        }
      }
    }
  }
  
  p {
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}



/*----- Errores de formularios -----*/
.input-validation-error {
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.25);

  &::placeholder {
    color: red
  }
}

/*----- Estilos de los botones en disabled -----*/
button:disabled, input[type="submit"]:disabled {
  color: rgb(165, 165, 165);
  border-color: transparent;
  background-color: rgb(226, 226, 226);

  &:hover {
    background-color: rgb(226, 226, 226);
    cursor: default;
   }
}