.notifications {
  position: fixed;
  left: 2rem;
  bottom: 0rem;
  transform: translateY(100%);
  border-radius: 5px;
  background-color: #de6b48;
  z-index: 10000;
  transition: all 700ms ease-in-out;
  
  @media (max-width: 500px) {
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    border-radius: 0px;
  }
  
  a {
    display: block;
    padding: 1rem;
  }

  &__content {
    margin-right: 2rem;
    
    h3 {
      margin: 0 0 0.5rem 0;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
    }
    
    p {
      margin: 0;
      font-size: 1.1rem;
      font-weight: bold;
      color: #fff;
    }
  }
}

.notifications--show {
  transform: translateY(0);
  bottom: 4rem;
  transition: all 700ms ease-in-out;

  @media (max-width: 500px) {
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    border-radius: 0px;
  }
}