$input-color: #7dbbc3;
$button-color: #f4b9b2;
$info-color: #daedbd;
$comment-highlight-color: #de6b48;
$danger-color: #de6b48;

@mixin button($color) {
  background-color: $color;
  border: 1px solid darken($color, 10);
  &:hover {
    background-color: lighten($color, 10);
  }
  &:active {
    background-color: lighten($color, 20);
  }
}

html,
*,
*:before,
*:after {
  box-sizing: border-box;
  color: #2d3436;
}

html,
body,
input {
  font: menu;
}

input,
button {
  display: block;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &:focus {
    outline: none;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid $input-color;
  font-size: 1.5em;
  padding: 0.5em;
}

button,
input[type='submit'],
.button {
  display: block;
  width: 100%;
  font-size: 1.1em;
  padding: 0.5em;
  @include button($button-color);
  &.star, &.create, &.update {
    @include button($input-color);
  }
  &.delete {
    @include button($danger-color);
  }
}

button:disabled, input[type="submit"]:disabled {
  color: rgb(165, 165, 165);
  border-color: transparent;
  background-color: rgb(226, 226, 226);
}

input[type="file"] {
  margin: 1em 0;
  padding: 1em 0;
}

.Application {
  position: relative;
  max-width: 600px;
  margin: auto;
}

%authentication {
  border: 1px solid $input-color;
  padding: 1em;
  margin-bottom: 1em;
  h2 {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    border-left: 5px solid $info-color;
  }
}

a {
  text-decoration: none;
}

.SignIn {
  @extend %authentication;
}

.SignUp {
  @extend %authentication;
}

.CurrentUser {
  @extend %authentication;
  .CurrentUser--profile {
    display: flex;
    margin-bottom: 0.5em;
  }
  .CurrentUser--information {
    flex: 4;
  }
  img {
    flex: 1;
    margin-right: 1em;
    max-height: 150px;
  }
  h2 {
    margin-bottom: 1em;
  }
  .created-at:before {
    content: 'Joined';
    color: $comment-highlight-color;
    font-weight: bold;
    margin: 0.5em 0.5em;
  }
  .email:before {
    content: 'Email';
    color: $comment-highlight-color;
    font-weight: bold;
    margin: 0.5em 0.5em;
  }
}

.AddPost,
.AddComment {
  margin-bottom: 1em;
}

.AddComment {
  display: flex;
  input {
    margin: 0;
    padding: 0.5em;
  }
  input[type="text"] {
    flex: 3;
  }
  input[type="submit"] {
    flex: 1;
  }
}

.Post {
  border: 1px solid $input-color;
  margin-bottom: 1em;
}

.Post--content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;

  h3 {
    margin-top: 0;
  }

  &-img {
    flex-basis: 65px;
    align-self: flex-start;
    height: 65px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  &-text {
    flex-basis: 80%;
  }
}

.Post--meta {
  padding: 0.5em;
  background-color: $info-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    display: inline-block;
    margin: 1em;
  }
  button {
    display: inline-block;
    width: auto;
    &:not(:last-child) {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}

.Comment {
  margin: 1em 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  
  &__main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  &__user-avatar {
    flex-basis: 35px;
    flex-shrink: 0;
    height: 35px;
    margin-right: 1rem;
    border-radius: 50%;

    background-size: cover;
    background-position: center;
  }
  
  &__text {
    padding: 1rem;
    margin: 0;
    margin-right: 1rem;
    flex-grow: 1;
    border-radius: 20px;
    background-color: #e7e7e7;
  }

  &__delete {
    flex-basis: 20px;
    cursor: pointer;

    i {
      font-size: 20px;

      &:before {
        color: #979797;
      }
    }
  }
}

.Comment--author {
  color: $comment-highlight-color;
  font-weight: bold;
  margin-right: 1rem;
}

.Comment--timestamp {
  color: darken($info-color, 40);
  &:before {
    content: ' ';
  }
}

/*----- Errores de formularios -----*/
.input-validation-error {
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.25);

  &::placeholder {
    color: red
  }
}

.display-errors {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 2rem;
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(252, 229, 229);
  transition: all 350ms;
  z-index: 10;

  p:first-of-type {
    margin: 0;
    font-size: 2rem;
    color: red;
  }
  
  p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    // color: red;
  }
}

.display-errors--hidden {
  transform: translate(-50%, -100%);
  opacity: 0;
  z-index: -10;
  transition: all 350ms;
}
